# global
node_modules/
artifacts/
cache/
coverage/
coverage.json
dist/
build/
.env
*.log
.DS_Store

# frontend – tylko w dashboardzie
pulse-dashboard/node_modules/
pulse-dashboard/dist/
pulse-dashboard/build/
pulse-dashboard/.env
